spring:
   datasource:
      url: jdbc:mysql://localhost:3306/skiday?allowPublicKeyRetrieval=true&useSSL=false
      username: skiday
      password: skiday123
   jpa:
      hibernate:
         ddl-auto: update
      open-in-view: false
      properties:
         hibernate:
            format_sql: true
   sql:
    init:
      mode: always